force-app/main/default/flows/AM_RTF_Students_AfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Welcome_Email_to_Students</name>
        <label>Send Welcome Email to Students</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>AM_Student__c.This_alert_sends_welcome_email_to_the_students_enrolled</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Sales_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AM_Student__c.This_alert_sends_welcome_email_to_the_students_enrolled</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Registration_Date_is_Today</name>
        <label>Check if Registration Date is Today</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AM_RegistrationDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>todaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Welcome_Email_to_Students</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>todaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>AM_RTF_Students_AfterInsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AM_RTF_Students_AfterInsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sales_Queue</name>
        <label>Get Sales Queue</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Sales_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_to_Sales_Queue</name>
        <label>Assign to Sales Queue</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Sales_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Registration_Date_is_Today</targetReference>
        </connector>
        <object>AM_Student__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
