force-app/main/default/flows/AM_SCR_RazorPayment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RazorPayment_Action_1</name>
        <label>RazorPayment Action 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>AM_RazorPaymentService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Payment_link_to_Student</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault_Message_for_Payment_Razor_Action</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accIds</name>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AM_RazorPaymentService</nameSegment>
        <outputParameters>
            <assignToReference>varPaymentLink</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Payment_link_to_Student</name>
        <label>Send Payment link to Student</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault_Message_for_Send_Payment_Link</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>emailId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Payment Link for Course Enrollment at Aspirational Minds Training Institute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>emailId</name>
        <dataType>String</dataType>
        <expression>{!getAccount.PersonEmail}</expression>
    </formulas>
    <formulas>
        <name>forAmount</name>
        <dataType>Currency</dataType>
        <expression>{!getAccount.Amount_for_Payment_Link__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AM_SCR_RazorPayment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AM_SCR_RazorPayment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Amount_Pay_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault_Message_for_Get_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Amount_Pay_Screen</name>
        <label>Amount Pay Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RazorPayment_Action_1</targetReference>
        </connector>
        <fields>
            <name>Amount_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Send Payment Link&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Guide</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please click on the button to send payment link of amount {!forAmount} to the student.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send Link</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(24, 215, 20); font-size: 20px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Success_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(39, 40, 39);&quot;&gt;Payment link has been send successfully!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Handle_Fault_Message_for_Get_Account</name>
        <label>Handle Fault Message for Get Account</label>
        <locationX>968</locationX>
        <locationY>242</locationY>
        <flowName>AM_Subflow_HandleFault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Fault_Message_for_Payment_Razor_Action</name>
        <label>Handle Fault Message for Payment Razor Action</label>
        <locationX>704</locationX>
        <locationY>458</locationY>
        <flowName>AM_Subflow_HandleFault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Handle_Fault_Message_for_Send_Payment_Link</name>
        <label>Handle Fault Message for Send Payment Link</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <flowName>AM_Subflow_HandleFault</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!getAccount.Name},&lt;/p&gt;&lt;p&gt;I hope this message finds you well.&lt;/p&gt;&lt;p&gt;We are excited to inform you that your registration for the&lt;strong&gt; {!getAccount.Course__r.Name}&lt;/strong&gt; at Aspirational Minds Training Institute has been successfully received. To complete the enrollment process, we kindly request that you proceed with the payment of the course fee.&lt;/p&gt;&lt;p&gt;Please click the link below to make the payment securely:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varPaymentLink}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Should you have any questions or need assistance, feel free to reach out to us.&lt;/p&gt;&lt;p&gt;Thank you for choosing Aspirational Minds Training Institute. We look forward to supporting you on your learning journey.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Aspirational Minds Training Institute&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPaymentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
